body {
    display: block;
    margin: 0px;
    background-color: rgb(90, 7, 4);
    height: 100% auto;
    color: rgb(0, 2, 27);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#footer {
    background-color: rgb(0, 2, 27);
    width: 100%;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#container-content {
    background-color: rgb(236, 235, 235);
    height: auto;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#qualifier-form {
  text-align: left;
  line-height: 20px;
  padding: 15px;
}

#submit-button {
  float: right;
  background-color: rgb(0, 2, 27);
  color: white;
  padding: 7px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  margin: 0px;
}

#print-password {
  background-color: white;
  word-wrap: break-word;
  height: auto;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
}

#clear {
  float: right;
  background-color: rgb(0, 2, 27);
  color: white;
  margin-bottom: 5px;
  padding: 7px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
}

#password-length {
  border: none;
  width: 60px;
  border-radius: 4px;
  margin-left: 10px;
}

h1, h2, button, footer {
  font-family: 'Patua One';
}

#pass-title {
  float: left;
}

#pick-title {
  float: none;
}

h5 {
  font-size: 18px;
}




